/* basics */
body {
    font-family: Helvetica;
    margin: 0;
}

main {
    text-align: center;
}

main img {
    width: 20em;
    height: auto;
}

h3 {
    margin: 0;
    padding: 0.25em;
    font-size: 0.7em;
    text-size-adjust: none;
}

p {
    margin: 0;
    line-height: 1.5em;
}

/* header */
header {
    text-align: center;
    margin: 0;
    padding-top: 2em;
}

.logo {
    width: 5em;
    height: auto;
    padding: 0.5em 3em;
}

/* home */
.mainhome p {
    padding: 3em;
}

.mainhome img {
    border-radius: 0;
}

/* slider based off of https://www.youtube.com/watch?v=McPdzhLRzCg */
.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    position: relative;
    max-width: 20em;
    margin: 0 auto;
}

.slider img {
    flex: auto;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1em;
    position: absolute;
    bottom: -9em;
    transform: translateX(290%);
}

.slider-nav a {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: white;
    transition: 250ms ease;
}

/* stores */
.mainstores img {
    width: 20em;
    height: 10em;
    object-fit: cover;
    object-position: 20% 50%;
}

.mainstores h2 {
    padding: 1em 0 2em;
    align-items: center;
    margin: 0;
}

.storesback a {
    text-decoration: none;
}

.storesback a img {
    width: 3em;
    justify-content: center;
    padding-top: 2em;
}

/* avc */
.avcmain img {
    border-radius: 0;
}

.avcmain p, .nhomain p, .fashmain p {
    padding: 2em;
    text-align: left;
}

.storesback {
    position: relative;
}

.storesback img {
    width: 23.5em;
}

.storesback a {
    position: fixed;
    top: 7%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-decoration: none;
}

/* about */
.abouttext {
    padding: 0 3em;
}

.abouttext p {
    padding-bottom: 1em;
}

.logotext {
    width: 5em;
    height: auto;
    padding: 2em 9em 0;
}

.titel {
    padding: 2em 0 1em;
}

.titel2, .titelabout {
    width: 19em;
    padding: 2em 0 1em;
}

.titelabout {
    padding-bottom: 2em;
}

/* footer */
footer {
    height: 5em;
}

footer p {
    height: auto;
    padding: 2em;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 1em 0;
    margin: 0;
}

nav ul li {
    padding: 0 1em;
}

nav a {
    padding: 0.25em 0.5em;
    color: black;
    text-decoration: none;
} 

nav img {
    width: 3em;
}

iframe {
    width: 20em;
    height: 10em;
    padding: 2em 0;
}
