body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    margin: 0;
    padding-top: 1em;
}

main {
    text-align: center;
}

main img {
    width: 22em;
    height: auto;
}

h3 {
    margin: 0;
    padding: 0.25em;
    font-size: 0.7em;
    text-size-adjust: none;
}

#logo {
    width: 6em;
    height: auto;
    padding: 0.25em 0em;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 2em 1em;
    margin: 0;
}

nav ul li {
    padding: 0 1em;
    color: black;
}

nav a {
    padding: 0.25em 0.5em;
    border: 0.1em solid black;
    border-radius: 3em;
    color: black;
}

hr {
    margin: 0;
}

.abouttext {
    padding: 0 2em;
}

.logo2 {
    width: 10em;
    height: auto;
    padding: 1em;
}

footer {
    font-size: small;
    padding: 0.5em;
}